body{
    color: white;
}

.App {
    text-align: center;
  }
  .App h1{
    color: white;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.info-box{
    text-align: center;
    background-color: rgb(0, 85, 255);
    font-size:30px ;
    width: max-content;
    margin: 0 auto ;
    padding: 10px 90px 30px;
    border-radius: 80px;
}
.info-box:hover{
  background: linear-gradient(120deg, rgb(231, 231, 157), rgb(241, 109, 109)); 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: black;
}